@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
:root {
    --eerie-black: #201e1fff;
    --red-orange-color-wheel: #ff4000ff;
    --light-salmon: #faaa8dff;
    --antique-white: #feefddff;
    --pacific-blue: #50b2c0ff;
}

* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}
body {
    background-color: var(--eerie-black);
}
h1{
    color: var(--red-orange-color-wheel);
}
h3{
    color: var(--antique-white);
}
h5{
    color: var(--pacific-blue);
}
a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: #fff;
    font-weight: 800;
}
a:hover {
    color: var(--red-orange-color-wheel);
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 9vh;
    background-color: var(--midnight-green-eagle-green-3);
    color: #fff;
    padding: 0 5%;
}
a.item {
    margin: 0 1.5rem;
}
.content-window{
    padding: 0 5%;
}